n8n-pocs/apps/form-sentiment-analysis/form-sentiment-analysis.json
{
  "name": "form-sentiment-analysis",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Review",
        "formDescription": "how satisfied are you",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name",
              "placeholder": "Your Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Your Review",
              "fieldType": "textarea",
              "placeholder": "how satisfied are you",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "id": "fce81bbe-ccf3-4cfe-9d2b-4f08f26a2137",
      "name": "On form submission",
      "webhookId": "f55cf7dd-a05d-4467-86bb-ec72573a6479"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json['Your Review'] }}",
        "messages": {
          "messageValues": [
            {
              "message": "=You are an expert in sentiment analysis.\nYou conduct evaluations and determine which of the three options applies:\n\nPositive\nNegative\nNeutral\nYou respond with only one word."
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        304,
        144
      ],
      "id": "9bbb2783-0bab-4238-8e45-78a09454ee27",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1072,
        16
      ],
      "id": "077e72a8-5b4d-4d99-8d0d-b731af89c82d",
      "name": "Merge"
    },
    {
      "parameters": {
        "model": "deepseek-r1:1.5b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        240,
        352
      ],
      "id": "ffcb6fa1-06d8-4ca1-aa8d-eefdbbedb1ba",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "TiJDBlLdmdPiEpsP",
          "name": "Local Ollama"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import re\n\nfor item in _input.all():\n  pattern = r'<think>.*?</think>'\n  cleaned_text = re.sub(pattern, '', item.json.text, flags=re.DOTALL)\n  item.json.result = cleaned_text.strip()\nreturn _input.all()"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        144
      ],
      "id": "07995adb-d7a6-4767-8a0b-7bd5bcdce893",
      "name": "Code in Python (Beta)"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "form_submissions",
          "mode": "list",
          "cachedResultName": "form_submissions"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $json.Name }}",
            "raw_llm_response": "={{ $json.text }}",
            "created_at": "={{ $json.submittedAt }}",
            "review_text": "={{ $('On form submission').item.json['Your Review'] }}",
            "sentiment": "={{ $('Code in Python (Beta)').item.json.result }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "review_text",
              "displayName": "review_text",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sentiment",
              "displayName": "sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "raw_llm_response",
              "displayName": "raw_llm_response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1392,
        16
      ],
      "id": "27e74473-d5b2-44e8-be73-86190be1134d",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "G0uXveplB6g2e9oR",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "reviews",
          "mode": "list",
          "cachedResultName": "reviews"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        1744,
        16
      ],
      "id": "147d755f-74c0-4123-819f-ffe8c36f7f74",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "wd7GVeqRVMFLRnVU",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "deepseek-r1:1.5b"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        1744,
        368
      ],
      "id": "b7a0e12e-6c69-4a6d-964d-01ae9e0d3ad6",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "TiJDBlLdmdPiEpsP",
          "name": "Local Ollama"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $('Merge').item.json['Your Review'] }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "form_submission_id",
                "value": "={{ $json.id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1952,
        384
      ],
      "id": "2b0639c8-c9d0-4bae-a6c1-45322442c02c",
      "name": "Default Data Loader"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "main": [
        []
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6576a3bf-f66f-4fc9-8307-423e7e53f0bf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "efa10d2a0eb70b7f6bb52d7076cd9d28a5fbfe2064d2ff606f4763611feac82e"
  },
  "id": "pUQkUx1EbNlmbZjM",
  "tags": []
}